<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta title="Главная страница">
    </head>
    <body>
        <h2>Практическую выполнял Кирдяшкин Руслан Антонович</h2>
        <h2>Ну это типа главная страница</h2>
        <h4><a href="/reg">Регистрация</a></h4>
        <h4><a href="/login">Авторизация</a></h4>
        <h4><a href="/posts">Тут посты сайта</a></h4>
        <h4><a href="/add_post">Добавить пост</a></h4>
        <h4><a href="/logout">Выйти из аккаунта</a></h4>
    </body>
</html>