<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta title="Логин">
</head>

<body>

    <div class="container">
        <a href="/">Вернуться на главную страницу!</a>
        <h1>Авторизация в нашем сервисе</h1>
        <p>Пожалуйста заполните поля, для входа в аккаунт</p>
        <hr>
        <form method="post">
            <label for="username"><b>Имя пользователя</b></label>
            <input type="text" id="username" name="username" class="form-controll" placeholder="Введите юзернейм" required>
        
            <label for="password"><b>Пароль</b></label>
            <input type="text" id="password" name="password" class="form-controll" placeholder="Enter Password" required>
            <hr>
    
            <button type="submit" class="loginbtn">Войти</button>
        </form>
      </div>
    
      <div class="container signin">
        <p>Нет аккаунта? <a href="/reg">Зарегестрироваться</a>.</p>
      </div>
</body>